html {
    /* background-image: url('/assets/login-bG.jpg'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "helvetica neue";
    min-height: 100%;
  }
  
  .login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    padding:15px;
    margin: 50px auto 50px auto;
    transition: all ease 0.2s;
    max-width: 500px;
    width: 90%;
  }
  
  .LoginTitle {
    padding-bottom: 50px;
  }
  
  .NameAndPasswordForm {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }
  
  .InputFields {
    position: relative;
  }
  
  .InputFields .icon.icon-tabler{
    position: absolute;
    font-size: 1.5rem;
    pointer-events: none;
    margin-top: 15px;
    margin-left: 2px;
  }
  
  .InputFields input{
    width: 100%;
    padding: 15px 0px 15px 0px;
    font-size: 1.3rem;
    outline: none;
    border: none;
    border-bottom: solid 3px gray;
    text-indent: 40px;
  }
  
  .InputFields .InputFieldBottomLine {
    position: relative;
  }
  
  .InputFields .InputFieldBottomLine::before {
    content: "";
    background-color: purple;
    position: absolute;
    height: 3px;
    width: 0;
    bottom: 0px;
    transition: all 0.8s ease;
  }
  
  .InputFields input:focus{
    ~ .InputFieldBottomLine::before {
      width: 100%;
    }
  }

  .incorrectUsernameOrPassword {
    position: absolute;
    bottom: -3px;
  }
  
  .IconFocus {
    color: purple;
  }
  
  .ForgotPassword {
    border: 0;
    background-color: inherit;
    align-self: flex-end;
    margin-bottom: 40px;
  }
  
  .LoginButton {
    border-width: 0px;
    border-radius: 20px;
    padding: 10px;
    background-image: linear-gradient(45deg,#08d4e4,#f014fc);
    cursor: pointer;
  }
  
  .LoginButton:hover {
    background-image: linear-gradient(45deg,#f014fc,#08d4e4);
  }
  
  .ThirdPartyLogins {
    display: flex;
    column-gap: 15px;
    margin-bottom: 120px;
  }
  
  .ThirdPartyLogins img{
    width: 60px;
    height: 60px;
  }

  .alreadyHaveAnAccount {
    text-align: center;
  }

  .hidden {
    display: none;
  }
  
      .poppins-regular {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .poppins-bold {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
      } 
      
  