.toast {
    transition: all 0.3s ease-in-out;
}

@keyframes fadeIn {
    0% { opacity: 0; transform: translateX(100%); }
    75% { opacity: 1; transform: translateX(-30px); }
    100% { opacity: 1; transform: translateX(0); }
}
.toast {
    animation: fadeIn .5s ease-in-out;
}

@keyframes slideOut {
    0% { opacity: 1; transform: translateX(0); }
    75% { opacity: 1; transform: translateX(-30px); }
    100% { opacity: 0; transform: translateX(100%); }
}
.toast.slide-out {
    animation: slideOut .3s ease-in-out;
}