#section_buttons_container .active {
    border-bottom-width: 4px;
    color: black;
}

.section-btn {
    height: 100%; /* h-full */
    padding: 0.75rem; /* p-3 */
    font-weight: bold; /* font-bold */
    display: flex; /* flex */
    align-items: center; /* items-center */
    color: rgb(148 163 184); /* text-slate-400 */
    border-color: transparent; /* border-sky-400 */
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.section-btn:hover {
    color: black; /* hover:text-black */
    border-bottom: 4px solid transparent;
    border-bottom-color: rgb(56 189 248); /* hover:border-b-4 */
}

#userProfilePage[data-section="posts"] {
    .posts-section-btn {
        border-bottom-width: 4px;
        border-bottom-color: rgb(56 189 248);
        color: black;
    }

    #posts_section {
        display: flex;
    }
}
#userProfilePage[data-section="about"] {
    .about-section-btn {
        border-bottom-width: 4px;
        border-bottom-color: rgb(56 189 248);
        color: black;
    }

    #about_section {
        display: block;
    }
}
#userProfilePage[data-section="friends"] {
    .friends-section-btn {
        border-bottom-width: 4px;
        border-bottom-color: rgb(56 189 248);
        color: black;
    }

    #friends_section {
        display: block;
    }
}
#userProfilePage[data-section="photos"] {
    .photos-section-btn {
        border-bottom-width: 4px;
        border-bottom-color: rgb(56 189 248);
        color: black;
    }

    #photos_section {
        display: block;
    }
}