.bar {
    position: sticky;
    width: 100%;
    top: 0;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 5px 0 5px 0;
    border-bottom: 1px solid #dbdbdb;
    z-index: 1000;
}

.nav-bar-icon {
    stroke: #94a3b8;
    fill: #e2e8f0;
}